/* body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
} */


body
{
	margin: 0;
	font-family: 'Inter', sans-serif;
}

header
{
	background-color: #ffffff;
	position: sticky;
	top: 0;
	z-index: 999;
}

hr
{
	width: 100%;
	max-width: 1440px;
	margin: 120px auto 0;
}

.navbar
{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	row-gap: 30px;
}

.logo
{
	font-size: 24px;
	font-weight: bold;
}

.navbar.desktop
{
	display: none;
}

.nav-links
{
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.nav-links li
{
	margin-right: 50px;
}

.nav-links li:last-child
{
	margin-right: 0;
}

.nav-links a
{
	text-decoration: none;
	color: #333;
	font-size: 16px;
	transition: color 0.3s ease;
}

.nav-links a:hover
{
	color: #F96D64;
}

.container
{
	margin: 0 40px;
}

.error404
{
	text-align: center;
}

.error404 h1
{
	font-size: 5rem;
}

.heroImage img
{
	width: 100%;
}

svg
{
	color: #000;
}

svg:hover
{
	color: #F96D64;
}

.grid-container > .grid-item
{
	width: 100%;
	margin-bottom: 30px;
}

.buttonLink
{
	padding: 24px 0;
	background-color: #F96D64;
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 36px;
	border-radius: 8px;
	cursor: pointer;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
	margin-top: 20px;
}

.recent
{
	margin-top: 3em;
}

.heroCopy h1, .headingH1
{
	color: #000;
	font-family: Inter;
	font-size: 44px;
	font-style: normal;
	font-weight: 600;
	line-height: 44px;
}

.heroCopy p
{
	color: #000;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin-top: 0;
}

.contactForm
{
	display: flex;
	flex-direction: column;
}

.contactForm label
{
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
}

.contactForm input
{
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	margin: 16px 0 32px 0;
	padding: 20px 16px;
}

.contactForm textarea
{
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	margin: 16px 0 16px 0;
	min-height: 120px;
	padding: 20px 16px;
}

.contactH1
{
	color: #000;
	font-family: Inter;
	font-size: 44px;;
	font-style: normal;
	font-weight: 600;
	line-height: 44px;; /* 107.143% */
}

/* Desktop */

@media only screen and (min-width: 768px)
{
	body
	{
		padding: 50px;
	}

	/* Nav */
	.navbar.desktop 
	{
		display: flex;
		align-items: center;
	}

	.nav-links
	{
		display: flex;
		justify-content: space-between;
	}

	.nav-links ul
	{
		list-style: none;
		display: flex;
	}

	.nav-links li
	{
		margin-right: 20px;
	}

	.nav-links li:last-child
	{
		margin-right: 0;
	}

	/* Layout */

	footer
	{
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.desktop
	{
		display: flex;
		visibility: visible;
	}
	
	
	.mobile
	{
		display: none;
		visibility: hidden;
	}

	/* Home Page */

	.container
	{
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}

	.header
	{
		margin: 5rem auto;
		display: flex;
		flex-direction: row;
		justify-content:left;
		gap: 5rem;
	}

	.sticky
	{
		position: sticky;
		top: 150px; /* Adjust this value to set the distance from the top when the div becomes sticky */
	}

	.heroImage
	{
		width: 100%;
		margin: 0;
	}

	.heroCopy
	{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.heroCopy p
	{
		margin-bottom: 60px;
	}
	.heroCopy h1, .headingH1
	{
		font-size: 112px;
		line-height: 120px; /* 107.143% */
	}

	.heroCopy p
	{
		color: #000;
		font-family: Inter;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 36px;
		margin-top: -30px;
	}

	.contactH1
	{
		color: #000;
		font-family: Inter;
		font-size: 96px;
		font-style: normal;
		font-weight: 600;
		line-height: 104px; /* 107.143% */
	}

	.buttonLink-hug
	{
		margin: 16px 0;
		width: 250px;
	}

	.buttonLink-fill
	{
		margin: 16px auto;
		width: 100%;
	}

	.buttonLink:hover
	{
		margin: 14px 0;
		background-color: #e2544a;
		transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
	}

	.grid-container
	{
		margin-top: 40px;
		display: grid;
		grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
		grid-template-rows: repeat(2, auto); /* 2 rows with 100px height each */
		gap: 30px; /* Optional: add gap between grid items */
	}

	.grid-item
	{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #f0f0f0;
		font-size: 24px;
		border-radius: 22px;
	}

	.error404 h1
	{
		font-size: 10rem;
	}

}